# ------------------------------
# Dependencies
# ------------------------------
node_modules/
.pnp
.pnp.js

# ------------------------------
# Production build
# ------------------------------
build/
dist/
dist-ssr/

# ------------------------------
# Logs
# ------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ------------------------------
# Environment variables (IMPORTANT)
# ------------------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ------------------------------
# Cache & temp files
# ------------------------------
.cache/
.eslintcache
.tmp/
.temp/

# ------------------------------
# Testing
# ------------------------------
coverage/

# ------------------------------
# Editor / IDE files
# ------------------------------
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Misc
# ------------------------------
*.tgz
.yarn-integrity